@import "variables";

.header {
    background-color: $headerBackgroundColor;
    color:$headerColor;
    padding: $headerPadding 0;
    margin-bottom: 30px;

    a {
        color: $headerColor;
        text-decoration: none;
        text-transform: uppercase;
        padding-right: 20px;
    }
}
