<h1>Ingredienser</h1>

<div ng-repeat="ingr in ingrediens.ingredienses">
    <input type="text" class="" ng-model="ingr.Title" ng-change="ingrediens.ingredienses.$save(ingr)" />
    <input type="text" class="" ng-model="ingr.Category" ng-change="ingrediens.ingredienses.$save(ingr)" />
    <span>{{ingrediens.getMeasureById(ingr.MeasureId).Name}}</span>
</div>

<div>
    <input class="" type="text" ng-model="ingrediens.newIngrediens.Title" />
    <input class="" type="text" ng-model="ingrediens.newIngrediens.Category" />
    <select class="" ng-model="ingrediens.newIngrediens.MeasureId">
              <option ng-repeat="measure in ingrediens.measures" value="{{measure.$id}}">{{measure.Name}}</option>
      </select>
    <button class="button button-primary" ng-click="ingrediens.addIngrediens()">Tilføj</button>
</div>
