<h1>Opskrifter</h1>

<div ng-repeat="measure in measures.measures">
    <input type="text"ng-model="measure.Name"  ng-change="measures.measures.$save(measure)" />
    <input type="text"ng-model="measure.ShortName"  ng-change="measures.measures.$save(measure)" />
</div>

<div>
    <input type="text" ng-model="measures.newMeasure.Name" />
    <input type="text" ng-model="measures.newMeasure.ShortName" />
    <button class="button button-primary" ng-click="measures.addMeasure()">Tilføj</button>
</div>
