<h1>{{recipe.Recipe.Title}}</h1>

Tid: {{recipe.Recipe.TimeToComplete | FormatTimeFilter}}<br>
Heraf arbejdstid: {{recipe.Recipe.WorkTime | FormatTimeFilter}}


<br /><br />
{{recipe.Recipe.Procedure}}
<br /><br />

<div ng-repeat="ingrediens in recipe.Recipe.Ingrediens">
    {{ingrediens.Amount}} {{recipe.getMeasure(ingrediens.IngrediensId).Name}} {{recipe.getIngrediens(ingrediens.IngrediensId).Title}}
</div

<br /><br/>

<a class="button button-primary" ng-href="#recipe/{{recipe.Recipe.$id}}/edit">Edit</a>
