
<div class="clearfix">

    <div class="col-6">
        <form ng-submit="recipe.save()">

            <input type="text" ng-model="recipe.Recipe.Title" />

            Tid: <input type="text" ng-model="recipe.Recipe.TimeToComplete" />
            Heraf arbejdstid: <input type="text" ng-model="recipe.Recipe.WorkTime" />

            <textarea ng-model="recipe.Recipe.Procedure"></textarea>

            <button type="submit" class="button button-primary">Gem</button>

        </form>
    </div>

    <div class="col-6">

        <form>

            <div ng-repeat="ingrediens in recipe.Recipe.Ingrediens">
                <input type="text" ng-model="ingrediens.Amount" />
                <select ng-model="ingrediens.IngrediensId">
                          <option ng-repeat="ingr in recipe.ingredienses" value="{{ingr.$id}}">{{ingr.Title}}</option>
                  </select>
            </div>
            <div>
                <input type="text" ng-model="recipe.newIngrediens.Amount" />
                <select ng-model="recipe.newIngrediens.IngrediensId">
                          <option ng-repeat="ingr in recipe.ingredienses" value="{{ingr.$id}}">{{ingr.Title}} ({{recipe.getMeasure(ingr.MeasureId).Name}})</option>
                  </select>
                  <button class="button button-secondary" ng-click="recipe.addIngrediens();">Tilføj</button>
            </div>


        </form>
    </div>

</div>
