<h1>Recipies</h1>

<table>
    <tr>
        <th>
            Navn
        </th>
        <th>
            Tid
        </th>
        <th>

        </th>
    </tr>

    <tr ng-repeat="recipe in recipelist.recipies">
        <td>

            <a ng-href="#recipe/{{recipe.$id}}">
                {{recipe.Title}}<br />
            </a>
        </td>
        <td>
            {{recipe.TimeToComplete | FormatTimeFilter}} ({{recipe.WorkTime | FormatTimeFilter}})
        </td>
        <td>
            <a ng-href="#recipe/{{recipe.$id}}/edit">Edit</a>
        </td>
    </tr>

</table>


<br />
<a href="#recipe/new/edit" class="button button-primary">Tilføj opskrift</a>
